
SUPABASE_URL=https://gfbhzpcluethbszkbjai.supabase.co
SUPABASE_KEY=sb_publishable_QH4AjWYCu8aUL_Q0JdGIrQ_fq-dYZI8

JWT_SECRET=thwnxtwzimjzuguy

EMAIL_USER=phanthienphuc321@gmail.com
EMAIL_PASS=thwnxtwzimjzuguy

PORT=5000
SUPER_ADMIN_KEY=supersecret